body {
  background-color: #e0f9ff;
}

.adminHeader {
  /* margin: 3px 3px 0; */
  width: 100%;
  height: 10vh;
  background: #3366FF;
  /* box-shadow: 0 0 10px #12010d; */
  border-radius: 5px;
}

.adminHeader img {
  width: 40px;
  height: 40px;
  margin: 2px 10px;
  background-size: 2% 2%;
  background-position: center;
  text-align: center;
  border-radius: 50%;
}

.adminHeader .headLeft {
  float: left;
  display: flex;
  width: 40%;
  align-items: center;
  margin-top: 0.1rem;
}

.adminHeader .headRight {
  float: right;
  display: inline;
  width: 55%;
}

.adminHeader .headLeft .title {
  margin-top: 1px;
  margin-left: 5px;
  font-size: 20pt;
  font-weight: bold;
  color: white;
}

.adminHeader .headLeft p {
  font-size: 12pt;
  font-weight: bold;
}
.adminHeader .headRight p {
  margin: 3px;
  font-size: 10pt;
  color: #f7e5ce;
  text-align: right;
  padding-top: 5px;
  margin-right: 10px;
}

.adminHeader ul.menubar {
  margin: 6px;
  font-size: 12pt;
  list-style: none;
  float: right;
}

.adminHeader ul.menubar li {
  float: left;
  margin-right: 10px;
  color: white;
}

.adminHeader ul.menubar li a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  /* border-bottom: 2px solid transparent; */
  padding-bottom: 10px;
  transition: all 0.3s ease;
}

.adminHeader ul.menubar li a:hover {
  color: black;
  font-weight: bolder;
  border-bottom: 2px solid #f4f3f5;
  padding-bottom: 0px;
}

.main {
  width: 70%;
  margin: auto;
  border-radius: 10px;
}

h5 {
  float: left;
  margin: 20px;
  font-weight: bold;
}

.info_detail {
  width: 100%;
  height: 75vh;
  background-color: rgb(164, 218, 245);
  margin-top: 20px;
  padding: 20px;
  color: rgb(7, 7, 7);
  border-radius: 10px;
}

.info_detail .infoLeft {
  float: left;
  width: 55%;
  margin: 15px;
  /* border: 2px solid black; */
  text-align: right;
}

.info_detail h4 {
  margin: 15px;
  font-weight: bolder;
}

.info_detail .infoLeft label {
  font-size: 12pt;
  font-weight: bold;
  color: rgb(248, 66, 11);
  width: 100px;
}

.info_detail .infoLeft input,
textarea {
  color: black;
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 0px 5px;
}

.info_detail .infoRight {
  float: right;
  width: 40%;
  text-align: center;
}

.info_detail .infoRight p {
  font-size: 11pt;
}

.info_detail .infoRight img {
  width: 17vw;
  height: 35vh;
  border-radius: 50%;
}

.info_detail .infoRight .btImg {
  width: 16vw;
  background-color: black;
  border-radius: 12px;
  color: rgb(248, 66, 11);
}

.info_detail .infoRight button {
  width: 15vw;
  /* margin-top: 5vh; */
  padding: 5px;
  background-color: #f8f405;
  border-radius: 5px;
  color: red;
  font-weight: bold;
  bottom: 0;
}

.info_cart {
  width: 100%;
  height: 80vh;
  background-color: rgb(164, 218, 245);
  margin-top: 20px;
  padding: 20px;
  color: white;
  border-radius: 10px;
  display: flex;
}

.cartLeft {
  width: 45%;
  height: 75vh;
  text-align: center;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
}

.cartLeft h5 {
  font-size: 16pt;
  font-weight: bold;
  margin: 0;
  margin-top: 5px;
  width: 100%;
}

.cartLeft img {
  width: 15vw;
  height: 30vh;
  border-radius: 50%;
}

.cartLeft .cardGrid {
  width: 95%;
  display: grid;
  grid-template-columns: 30% 70%;
  text-align: left;
  margin-left: 20px;
}

.cartLeft .cardGrid p {
  margin: 2px;
  font-size: 12pt;
  border-bottom: 1px solid rgb(40, 29, 3);
}

.cartLeft button {
  width: 150px;
  background-color: yellow;
  font-size: 12pt;
  color: black;
  border-radius: 5px;
  margin: 6px;
  padding: 2px 10px;
}

.cartRight {
  width: 55%;
  height: 75vh;
  text-align: center;
  color: black;
  border: 1px solid white;
  margin-left: 10px;
  background-color: #f4f3f5;
  border-radius: 5px;
}

.cartRight .cartHead {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 10px auto;
}

.cartRight .cartHead h4 {
  margin: 0;
  font-weight: bold;
  color: red;
}

.cartRight .cartHead button {
  font-size: 11pt;
  border-radius: 5px;
  background: green;
  color: white;
  border: none;
  width: 55px;
  height: 30px;
  margin: 0 10px;
}

.cartRight .cartDetail {
  width: 98%;
  height: 28vh;
  margin: 0 5px;
}

.cartRight .cartDetail th {
  background: #532402;
  border-radius: 10px;
  color: white;
}

.cartRight .cartDetail table {
  width: 100%;
}
.cartRight .cartDetail th,
td {
  font-size: 10pt;
  font-weight: lighter;
  padding: 3px;
  border: 2px solid white;
}

.cartRight .cartDetail img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.cartRight .cartDetail a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.cartRight .cartSummary {
  background-color: #f9cda9;
  display: grid;
  grid-template-columns: 30% 30% 40%;
}

.cartRight .cartSummary p {
  margin: 0;
}

.cartRight .cartConfirm {
  width: 80;
  margin: auto;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 40% 50%;
  font-size: 12pt;
  font-weight: bold;
}

.cartRight .cartConfirm label,
input {
  text-align: right;
  margin-right: 10px;
  margin-top: 5px;
  border: none;
}

.cartRight .cartConfirm input {
  border-radius: 10px;
  background: #f48585;
  margin-top: 5px;
  font-weight: bold;
  font-size: 14pt;
  padding-right: 10px;
}

.cartRight .cartConfirm .total {
  background: red;
  color: white;
}
.cartRight .cartConfirm select {
  margin-right: 10px;
  border-radius: 10px;
  margin-top: 5px;
  border: none;
}

.cartRight button {
  width: 230px;
  padding: 7px;
  border-radius: 10px;
  color: white;
  background: blue;
  margin-top: 20px;
  border: 1px solid white;
}
